body {
    color: black;
    background: bisque;
margin: 0px;
font-family: "Dancing Script", cursive;
margin-bottom: 100px;
}

header {
    border-bottom: solid 2px #b58181;
padding: 20px;
font-size: 40px;
color: #b58181;
}
.chamada {
    background: #edcea8;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1{
    font-size: 45px;
}

p{
    font-size: 25px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
opacity: 0.6;
height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid palevioletred;
}

.categoria h2 {
    color: black;
}

.categoria h2 {
    font-size: 2.5em;
}